.home-container {
  padding: 60px 50px 0;
  display: flex;
}

.img-container {
  width: 220px;
  height: 220px;
}

.name-container {
  font-family: "montserrat", sans-serif;
  margin-bottom: 5px;
}

.login-container {
  font-family: "montserrat", sans-serif;
  color: #666666;
  margin: 0;
}

.left-container {
  margin-right: 80px;
}
