.header-container {
  display: flex;
  height: 110px;
  background-color: #7469fb;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: white;
  font-family: "montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}
